.chat-container {
  height: 100vh;
  background-color: #282c34;
  position: relative;
}
.chat-content {
  border-radius: 5px;
  width: 700px;
  height: 500px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
}
